.Splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  height: 90vh;

  &__inner {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  &__logo {
    margin: 0;
  }

  &__title {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    margin: 0;
  }

  &__description {
    margin: 0;
    font-size: 32px;
  }
}
