.albums {
  display: flex;
  flex-wrap: wrap;

  .album {
    flex: 50%;

    @media (min-width: 700px) {
      flex: 33.333%;
    }

    transition: 0.3s;

    &:hover {
      opacity: 0.66;
    }
  }
}
